<div class="container">
  <section>
    <div class="page-header" id="About">
      <h3>About the Team. <small> In summary, we aight.</small></h3>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-lg-4 text-center">
            <img src="../../pictures/Nick.jpg" alt="Text of the
                            image">
            <h4>Nick Ficquette</h4>
            <blockquote>
              <p>Info: Is not actually a gnome.<br>
                Team Role: Docs and Engineering<br>
                Compass Result: 70/30 Utilitarian<br>
              </p>
            </blockquote>
          </div>
          <div class="col-lg-4 text-center">
            <img src="../../pictures/Bio.jpg"
                 alt="Text of the image">
            <h4>Biodoumoye Bokolo</h4>
            <blockquote>
              <p>Info: 13 States and 5 countries down <br>
                Team Role: Philosophical Content<br>
                Compass Result: 80/20 Utilitarian
              </p>
            </blockquote>
          </div>
          <div class="col-lg-4 text-center">
            <img src="../../pictures/Caleb.jpg"
                 alt="Text of the image">
            <h4>Caleb Cummings</h4>
            <blockquote>
              <p>Info: 22 and in love with quesadillas.<br>
                Team Role: UI/UX, writing, and talking.<br>
                Compass Result: 100% Utilitarian
              </p>
            </blockquote>
          </div>
          <div class="col-lg-4 text-center">
            <img src="../../pictures/Corey.jpg"
                 alt="Text of the image">
            <h4>Cory Cordell</h4>
            <blockquote>
              <p>Info: Hates changing projects.<br>
                Team Role: Back End Development<br>
                Compass Result:<br>
              </p>
            </blockquote>
          </div>
          <div class="col-lg-4 text-center">
            <img src="../../pictures/Andrew.jpg"
                 alt="Text of the image">
            <h4>Andrew Markley</h4>
            <blockquote>
              <p>Info: He voted once! <br>
                Team Role: Front End Dev <br>
                Compass Result: Utilitarian, again. <br>
              </p>
            </blockquote>
          </div>
          <div class="col-lg-4 text-center">
            <img src="../../pictures/Ben.jpg"
                 alt="Text of the image">
            <h4>Ben Reid</h4>
            <blockquote>
              <p>Info: Likes his child a little.<br>
                Team Role: Docs and Pics!<br>
                Compass Result: 65/35 Kantian<br>
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

