
<div class="container">
    <div class="page-header" id="login">
      <h3>Welcome (back)! <small> Joining lets you keep your stats.
      </small></h3>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-lg-4 text-center">
            <img src="../../pictures/Check.png" alt="Text of the
                            image">
            <blockquote>
              <p>Take part in a decision-based game rooted in
                hypothetical scenarios that test the
                user's way of thinking and decision making.
              </p>
            </blockquote>
            <footer>Take the Quiz.</footer>
          </div>
          <div class="col-lg-4 text-center">
            <img src="../../pictures/Bulb.png"
                 alt="Text of the image">
            <blockquote>
              <p>Once you have chosen your action for each of
                the scenarios, see how your way of thinking alines with
                philosophers throughout history.</p>
            </blockquote>
            <footer>Get Your Results.</footer>
          </div>
          <div class="col-lg-4 text-center">
            <img src="../../pictures/Horn.png"
                 alt="Text of the image">
            <blockquote>
              <p>Armed with a better understanding of yourself, go
                encourage others to join The Moral Compass and spread
                moral consciousness to those around you!
              </p>
            </blockquote>
            <footer>Share Them!</footer>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <bsp-signup class="col-sm-6 col-md-6 col-lg-6 borderonright"></bsp-signup>
  <bsp-login class="col-sm-6 col-md-6 col-lg-6"></bsp-login>
</div>
