<p *ngIf="!isNew">
Edit Story
</p>
<p *ngIf="isNew">
Create New Story
</p>
<div *ngIf="dberror" class="alert alert-danger">{{dberror}}</div>
<form class="form-group" (ngSubmit)="onSubmit()" [formGroup]="mainForm">
  <div>
    <div class="input input-group-lg">
      <textarea type="textarea" class="form-control" id="title" name="title" placeholder="Title" [(ngModel)]="title" formControlName="title"></textarea>
    </div>

    <div class="input input-group-lg">
      <textarea class="form-control no-errors" id="prologue" name="prologue" placeholder="Prologue" [(ngModel)]="prologue" formControlName="prologue"></textarea>
    </div>
    <div class="col-sm-5">
    <input
      type="text"
      class="form-control"
      placeholder="Choice Text"
      formControlName="choice1Text">
  </div>
    <div class="col-sm-5">
      <select
        type="text"
        class="form-control"
        formControlName="choice1Rule">
        <option value="kantian" selected>Kantian</option>
        <option value="utilitarian">Utilitarian</option>
      </select>
    </div>
    <div class="col-sm-5">
      <input
        type="text"
        class="form-control"
        placeholder="Choice Text"
        formControlName="choice2Text">
    </div>
    <div class="col-sm-5">
      <select
        type="text"
        class="form-control"
        formControlName="choice2Rule">
        <option value="kantian" selected>Kantian</option>
        <option value="utilitarian">Utilitarian</option>
      </select>
    </div>
  </div>

  <div class="col-xs-12">
    <button type="submit" class="btn btn-success" [disabled]="!mainForm.valid">Save</button>
    <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
  </div>
</form>
