<h2>
  World
</h2>
<router-outlet></router-outlet>
<!--<div *ngIf="dberror" class="alert alert-danger">{{dberror}}</div>-->
<!--<form class="form-group" (ngSubmit)="onSubmit()" [formGroup]="myForm">-->
  <!--<div>-->
    <!--<div class="input input-group-lg">-->
      <!--<textarea type="text" rows="10" class="form-control" id="mono" name="mono" placeholder="Monologue" [(ngModel)]="mono" formControlName="mono"></textarea>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-xs-12">-->
        <!--<ul class="list-group" formArrayName="stories">-->
          <!--<div *ngFor="let story of myForm.controls['stories'].controls; let i = index">-->
            <!--<div formGroupName="{{i}}">-->
              <!--<div class="col-sm-5">-->
                <!--<input-->
                  <!--type="text"-->
                  <!--class="form-control"-->
                  <!--formControlName="title">-->
              <!--</div>-->
              <!--<div class="col-sm-5">-->
                <!--<textarea-->
                  <!--type="text"-->
                  <!--class="form-control"-->
                  <!--formControlName="prologue"></textarea>-->
              <!--</div>-->
              <!--<div class="col-sm-5">-->
                <!--<select>-->
                  <!--<option ></option>-->
                <!--</select>-->
              <!--</div>-->
              <!--<div class="col-sm-2">-->
                <!--<button class="btn btn-danger" (click)="onRemoveItem(i)">X</button>-->
              <!--</div>-->
            <!--</div>-->

            <!--<br><br>-->
          <!--</div>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
  <!--<button type="submit" class="btn btn-lg btn-default" [disabled]="!myForm.valid">Submit</button>-->
  <!--Errors: {{myForm.controls.['email'].errors.minlength}}-->
  <!--<div *ngFor="let er of myForm.controls['email'].errors">{{er}}</div>-->
<!--</form>-->
